.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #11161d;
}

.app__battlefield {
  flex: 1;
  min-width: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}